<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Captura a url base quando estiver dentro de um iFrame -->
    <script>
        window.onload = function () {
            if (window !== top) {
                var referrer = document.referrer;
                if (referrer) {
                    var base = document.getElementsByTagName('base')[0];
                    var path = new URL(referrer).pathname;
                    base.href = path.endsWith('/') ? path + "ingress/" : path + "/ingress/";
                }
            }
        };

        document.addEventListener('DOMContentLoaded', (event) => {
            if (window !== top) {
                var referrer = document.referrer;
                if (referrer) {
                    var base = document.getElementsByTagName('base')[0];
                    var path = new URL(referrer).pathname;
                    base.href = path.endsWith('/') ? path + "ingress/" : path + "/ingress/";
                }
            }
        };
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="HomeAssistantPoc.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
